*{
    margin: 0px;
    padding: 0px;
}




header{
    background-color: #97908a;
   
    margin: 0px auto;
}

#menu{
    width: 66%;
    margin: 0px auto;
}

#menu ul{
    list-style: none;
    width: 940px;
    background-color: #4d4c4a;
    text-align: left;
    padding: 0px;
    margin:0px ;
    padding-left: 25px;

}

.active{
    background-color: black;
}

.active a{
    color: white !important;
    
}

#menu li{
    display: inline-block;
    
}

#menu a{
    display: block;
    color: #78B033;
    text-decoration: none;
    width: 100px;
    padding: 15px;
    text-transform: uppercase;
}

#menu a:hover{
    color: white !important;
    background-color: black;
}



#texto{
    width: 60%;
    margin: 0px auto;
    color: white;
    font-size: 30px;
    margin-bottom: 12.4mm;
}

#imagenFondo{
        background-color: #7a756f;
}

#imagen{
    width: 66%;
    margin: 0px auto;
    height: 370px;
}

#img{
    width: 965px;
    
}

#cajaFondo{
    background-color: white;
}

#cajaPrincipal {
    width: 76%;
    margin: 0px 229px auto;
    height: 500px;
    margin-top: 30px;
}

#cajaIzquierda{
    float: left;
    padding-right: 50px;
    width: 317.5px;
}
#cajaDerecha {
    float: left;
    padding-left: 8px;
    width: 57%;
}
#clear{
    float: none;
    clear: both;
}

h2{
    color: #B0C13F;
    padding-bottom: 20px;
    
    font-weight: normal;
}

.h2{
    width: 60%;
    margin: 0;
    background-color: black;
    color: white;
    margin-bottom: 44px;
}


p{
    margin-bottom: 20px;
}

#cajaDerecha p{
    margin-bottom: 40px;  
}

footer{
    margin: 0 auto; padding: 20px 0px; background: #000000; color: #686767;
}