#menu{
    background-color: #000;
    margin-bottom: 20px;
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li{
    display: inline-block;
}

#titleClass{
    font-size: 40px;
}
#menu ul li a{
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;

}


#menu ul li:hover{
    background-color: #2a75d9 ;
}

.boton-atras{
    float: right;
    display: block;
    
}

#btnAtras{
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;
    background-color: #2a75d9 ;
    border: 1px solid #2a75d9 ;
    cursor: pointer;
}